* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#canvas {
    margin-top: 50px;
    box-shadow: 0 0 5px black;
}

#score, #level, #record {
    font-size: 30px;
}

.stats-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}